/* ANIMATIONS
============================================================================= */
@keyframes flip {
  0% 		{ -webkit-transform:perspective(1000px) rotateY(0deg);
    -moz-transform:perspective(1000px) rotateY(0deg);
    -o-transform:perspective(1000px) rotateY(0deg);
    transform:perspective(1000px) rotateY(0deg);
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%;
  }
  25% 	{ -webkit-transform:perspective(1000px) rotateY(45deg);
    -moz-transform:perspective(1000px) rotateY(45deg);
    -o-transform:perspective(1000px) rotateY(45deg);
    transform:perspective(1000px) rotateY(45deg);
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%;
  }
  50% 	{ -webkit-transform:perspective(1000px) rotateY(90deg);
    -moz-transform:perspective(1000px) rotateY(90deg);
    -o-transform:perspective(1000px) rotateY(90deg);
    transform:perspective(1000px) rotateY(90deg);
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%;
  }
  75% 	{ -webkit-transform:perspective(1000px) rotateY(135deg)
  -moz-transform:perspective(1000px) rotateY(135deg);
    -o-transform:perspective(1000px) rotateY(135deg);
    transform:perspective(1000px) rotateY(135deg);
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%;
  }
  100% 	{ -webkit-transform: perspective(1000px) rotateY(180deg);
    -moz-transform:perspective(1000px) rotateY(180deg);
    -o-transform:perspective(1000px)  rotateY(180deg);
    transform:perspective(1000px)  rotateY(180deg);
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%;
  }
}

@-webkit-keyframes flip {
  0% 		{ -webkit-transform:perspective(1000px) rotateY(0deg);
    -moz-transform:perspective(1000px) rotateY(0deg);
    -o-transform:perspective(1000px) rotateY(0deg);
    transform:perspective(1000px) rotateY(0deg);
    -webkit-transform-origin:50% 0%;
    -moz-transform-origin:50% 0%;
    -o-transform-origin:50% 0%;
    transform-origin:50% 0%;
  }
  25% 	{ -webkit-transform:perspective(1000px) rotateY(45deg);
    -moz-transform:perspective(1000px) rotateY(45deg);
    -o-transform:perspective(1000px) rotateY(45deg);
    transform:perspective(1000px) rotateY(45deg);
    -webkit-transform-origin:50% 0%;
    -moz-transform-origin:50% 0%;
    -o-transform-origin:50% 0%;
    transform-origin:50% 0%;
  }
  50% 	{ -webkit-transform:perspective(1000px) rotateY(90deg);
    -moz-transform:perspective(1000px) rotateY(90deg);
    -o-transform:perspective(1000px) rotateY(90deg);
    transform:perspective(1000px) rotateY(90deg);
    -webkit-transform-origin:50% 0%;
    -moz-transform-origin:50% 0%;
    -o-transform-origin:50% 0%;
    transform-origin:50% 0%;
  }
  75% 	{ -webkit-transform:perspective(1000px) rotateY(135deg);
  -moz-transform:perspective(1000px) rotateY(135deg);
    -o-transform:perspective(1000px) rotateY(135deg);
    transform:perspective(1000px) rotateY(135deg);
    -webkit-transform-origin:50% 0%;
    -moz-transform-origin:50% 0%;
    -o-transform-origin:50% 0%;
    transform-origin:50% 0%;
  }
  100% 	{ -webkit-transform:perspective(1000px) rotateY(180deg);
    -moz-transform:perspective(1000px) rotateY(180deg);
    -o-transform:perspective(1000px)  rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
    -webkit-transform-origin:50% 0%;
    -moz-transform-origin:50% 0%;
    -o-transform-origin:50% 0%;
    transform-origin:50% 0%;
  }
}

