<blockquote style="margin-left:10px;margin-top: 70px" xmlns="http://www.w3.org/1999/html">
  <p>Benjamin的个人简历</p>
</blockquote>

<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-4">
    <div class="well info">
      <img class="img-rounded" height="300" width="100%" src="img/b1.jpg"/>
      <h2 class="text-center" style="margin-top:10px;">商敏</h2>
      <div class="info-item"><span class="glyphicon glyphicon-bookmark"></span> <span>学历:</span><span class="personal-info-item">本科</span> </div>
      <div class="info-item"><span class="glyphicon glyphicon-leaf"></span> <span>专业:</span>  <span class="personal-info-item">计算机科学与技术</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-book"></span> <span>学校:</span>  <span class="personal-info-item">山东理工大学</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-home"></span> <span>籍贯:</span>  <span class="personal-info-item">山东.莱芜</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-map-marker"></span> <span>地址:</span>  <span class="personal-info-item">北京.海淀</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-earphone"></span> <span>电话:</span>  <span class="personal-info-item">15652605660</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-envelope"></span> <span>邮箱:</span>  <span class="personal-info-item"><a href="mailto:benjamin1990@163.com">benjamin1990@163.com</a></span></div>
      <div class="info-item"><span class="glyphicon glyphicon-envelope"></span> <span>Github:</span>  <span class="personal-info-item"><a href="mailto:benjamin1990@163.com">https://github.com/shangmin1990</a></span></div>
      <div class="skills panel panel-primary " style="margin-top: 10px;">
        <div class="panel-heading skills_heading"><span class="glyphicon glyphicon-wrench"></span>     技能</div>
        <div class="panel-body skills_body">
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-success">js</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-primary">java</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-info">css</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-warning">html</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-primary">linux</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-danger">安卓</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-danger progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="skills panel panel-primary " style="margin-top: 10px;">
        <div class="panel-heading skills_heading"><span class="glyphicon glyphicon-list-alt"></span>     证书</div>
        <div class="panel-body skills_body">
          <div class="info-item"><span class="glyphicon glyphicon-bookmark"></span> <span>2011/12</span> <span class="personal-info-item">C+E国际软件工程师</span></div>
          <div class="info-item"><span class="glyphicon glyphicon-bookmark"></span> <span>2011/11</span> <span class="personal-info-item">高级软件工程师</span></div>
        </div>
      </div>

      <div class="skills panel panel-primary " style="margin-top: 10px;">
        <div class="panel-heading skills_heading"><span class="glyphicon glyphicon-pencil"></span>     给我留言</div>
        <div class="panel-body skills_body">
        <label class="">姓名 : </label>
        <input type="text" class="form-control" placeholder="用户名" required/>
          <label class="">邮箱 : </label>
          <input type="email" class="form-control" placeholder="邮箱" required/>
          <label>留言 : </label>
         <textarea class="form-control" style="margin-top:5px;height: 150px"></textarea>
        <div class="text-center" style="margin-top: 20px;"><button class="btn btn-primary btn-block" >留言</button>
        </div>
      </div>
      </div>
    </div>

  </div>
  <div class="col-md-8 col-lg-8 col-sm-8">
    <div class="well self">
      <p>1、性格沉稳、为人诚恳、不怕吃苦，有良好的韧性和耐力。</p>
      <p>2、团队协作能力强，擅长沟通，积极参加篮球、拔河、乒乓球等比赛。</p>
      <p>3、擅长换位思考，从对方的角度思考问题，遇事首先想到的是自己的不足。</p>
      <p>4、适应能力强，做事认真，能够与同事积极的进行交流、分析，合作完成一些模块的设计与开发。</p>
      <p>5、自学能力强，有强烈的求知欲，喜欢挑战自我，能够不断的学习和掌握新的技术。</p>
    </div>
    <div class="well" style="background-color: #b9def0">
      <div class="info-header"> <span class="glyphicon glyphicon-tag"></span>   工作经验</div>

      <div class="info-body" > <span class="glyphicon glyphicon-edit"></span>   2012/2 -- 2013/6 : 北京瑞华帷幄网络科技有限公司 </div>
      <div class="info-content">
        <p>  新增功能后台代码的编写,负责账单模块的前后台编写,也参与了websocket推送,信息流，
          短信等模块的编写。安装付费应用时，会产生交易行为。
          扣费时，如果用户余额足以支付此应用的安装费用，会先扣除余额，如果不足以支付，则会扣除绑定银行卡中的金额。
          安装成功后，插入账单，插入交易记录。做过一些对交易记录查询，比如按余额变动最大排序，此月交易金额最大排序之类的查询，按照交易时间排序等，
          方便监控各个用户的余额和账单信息。还做了余额取现功能。余额大于$100的可以取现，通过申请-审核-支付(驳回) 流程实现此功能。
          前台展示方面，采用用面向对象js创建页面并填充内容，并将模块组建化，方便代码的复用。对js非常感兴趣，掌握面向对象js编程技能。</p>
      </div>
      <div class="info-body"> <span class="glyphicon glyphicon-edit"></span>   2013/6 -- 2014/3 : 万相融通科技有限公司 </div>
      <div class="info-content">
        <p>  主要负责项目前端的设计与开发,能够快速的学习一些前端框架，如easyui等，并投入使用。编写一些公用的js组件，并编写少量html静态页面与css，对前端的js代码进行重构封装，帮助同事解决所遇到的复杂问题或bug,是前端项目开发的主要负责人</p>
      </div>
      <div class="info-body"> <span class="glyphicon glyphicon-edit"></span>   2014/3 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  主要负责项目前端的设计与开发,前端采用angularjs+bootstrap构建页面,负责项目设计及规划,编写底层组件及功能优化。并负责项目组前端的技术攻关。</p>
      </div>
    </div>

    <!--<div class="well" style="background-color: yellowgreen">-->
      <!--<div class="info-header"> <span class="glyphicon glyphicon-tag"></span>   项目经验</div>-->

      <!--<div class="info-body" style="margin-top: 20px;"> <span class="glyphicon glyphicon-edit"></span>   2012/2 -- 2013/6 : 北京瑞华帷幄网络科技有限公司 </div>-->
      <!--<div class="info-content">-->
        <!--<p>  新增功能后台代码的编写,负责账单模块的前后台编写,也参与了websocket推送,信息流，-->
          <!--短信等模块的编写。安装付费应用时，会产生交易行为。-->
          <!--扣费时，如果用户余额足以支付此应用的安装费用，会先扣除余额，如果不足以支付，则会扣除绑定银行卡中的金额。-->
          <!--安装成功后，插入账单，插入交易记录。做过一些对交易记录查询，比如按余额变动最大排序，此月交易金额最大排序之类的查询，按照交易时间排序等，-->
          <!--方便监控各个用户的余额和账单信息。还做了余额取现功能。余额大于$100的可以取现，通过申请-审核-支付(驳回) 流程实现此功能。-->
          <!--前台展示方面，采用用面向对象js创建页面并填充内容，并将模块组建化，方便代码的复用。对js非常感兴趣，掌握面向对象js编程技能。</p>-->
      <!--</div>-->
    <!--</div>-->

    <div class="well" style="background-color: yellowgreen">
      <div class="info-header"> <span class="glyphicon glyphicon-tag"></span>   项目经验</div>
      <div class="info-body"> <span class="glyphicon glyphicon-edit"></span>   2013/6 -- 2014/3 : 万相融通科技有限公司 </div>
      <div class="info-content">
        <table class="table table-condensed table-bordered workex">
          <tr><td>项目名称</td><td>旅客服务系统</td></tr>
          <tr><td>时间</td><td>2013/12 - 2013/12</td></tr>
          <tr><td>项目描述</td><td>地铁，火车站查询机系统软件。独立完成了项目的开发，采用springMVC，数据层采用了JDBC。功能不是很复杂，主要是一些查询结果的显示。包括车次，公告，余票，地图等等。</td></tr>
          <tr><td>责任描述</td><td>独立完成项目的设计开发</td></tr>
        </table>
      </div>
      <div class="info-body" style="margin-top: 20px;"> <span class="glyphicon glyphicon-edit"></span>   2013/6 -- 2014/3 : 万相融通科技有限公司 </div>
      <div class="info-content">
        <table class="table table-condensed table-bordered workex">
          <tr><td>项目名称</td><td>铁路运营管理系统</td></tr>
          <tr><td>时间</td><td>2013/7 - 2014/2</td></tr>
          <tr><td>项目描述</td><td>负责运营管理系统的前端项目设计与开发，包括票务管理(票制管理，定价策略，消费策略)，日结算，票务拆借，现金拆借等，以及其他公用js组件或代码的开发。项目采用jquery作为前端js框架，界面采用了easyui前端框架。但个人感觉easyui的效果并不是好(不管从显示效果上还是代码性能上)。由于是一款商业化的定制软件，所以浏览器采用了比较普遍的IE9。具有解决浏览器差异性的能力。</td></tr>
          <tr><td>责任描述</td><td>前端的设计与开发，前端项目的主要负责人</td></tr>
        </table>
      </div>
      <div class="info-body" style="margin-top: 20px;"> <span class="glyphicon glyphicon-edit"></span>   2012/2 -- 2013/6 : 北京瑞华帷幄网络科技有限公司 </div>
      <div class="info-content">
        <table class="table table-condensed table-bordered workex">
          <tr><td>项目名称</td><td>veivo网络平台</td></tr>
          <tr><td>时间</td><td>2012/2 - 2012/9</td></tr>
          <tr><td>项目描述</td><td>主要负责账单模块的设计与编写。账单模块包括以下功能:<br>
            1.插入功能。用户发生交易行为的时候会产生账单，将此账单插入数据库。例：用户购买付费应用，先会查询余额是否足以支付，如果余额足以支付，则扣除余额，插入账单。此账单应包括的内容为(id,userid,amout,note,time,transationId,)。如果余额不够支付，则会查询用户是否绑定过信用卡。如果绑定过信用卡，利用paypal的api完成付费，然后将账单插入到表中。<br>
            2.查询功能。平台提供个人账单的查询功能。包括收入查询，支出查询和交易明细。可以在设置中查询自己的账单记录。<br>
            3.账单，余额跟踪功能。通过配置文件配置有查看所有用户账单的用户权限，跟踪所有用户的账单。通过查询余额变动最大，交易次数最多，交易金额最大等条件获得查询结果。servlet通过json格式将数据返回，并用js代码将结果显示在页面上。重构了前台的账单显示js代码，将其组件化，便于复用。<br>
            4。用户提现功能。余额大于100$的用户，可以提现。开发了一个webApp 用来审核用户的申请取现请求。此功能主要负责的是前台js代码的编写。</td></tr>
          <tr><td>责任描述</td><td>本人完成账单模块所有功能的前后台代码编写，用户取现功能的前台js编写和少部分后台逻辑代码，并设计部分表结构。</td></tr>
        </table>
      </div>

      <div class="info-body" style="margin-top: 20px;"> <span class="glyphicon glyphicon-edit"></span>   2012/2 -- 2013/6 : 北京瑞华帷幄网络科技有限公司 </div>
      <div class="info-content">
        <table class="table table-condensed table-bordered workex">
          <tr><td>项目名称</td><td>帷幄聊天客户端(类微信)</td></tr>
          <tr><td>时间</td><td>2012/9 - 2013/6</td></tr>
          <tr><td>项目描述</td><td>帷幄聊天客户端是网络版的部分功能的移植，包括聊天，信息流，我的应用,设置，应用商店。<br>
            1.聊天模块。后台采用html5 的websocket推送技术，android客户端连接jwebsocket服务器，通过重写接收到消息所执行的方法，来获得消息的内容。<br>
            2.信息流模块，重写了listView使其增加下拉刷新，上拉更多的功能。并重写了textview，使其支持Emoji表情(图片替换符号的封装)。<br>
            3.图片处理。android图片缓存是比较重要而且复杂的问题，稍微不注意就会造成OOM。ListView的复用问题对解决OOM也是非常重要的。自己开发了图片缓存，图片缓存包括内存缓存，SoftReference，本地sd卡缓存。其中sd卡的保存图片时，要监控缓存目录的大小，防止占用太多的空间，如果空间超出了规定的存储空间，按文件的修改时间排序，删除一部分长时间未修改的文件。<br>
            4.掌握android四大组件 activity,intent,service contentProvider.<br>
            5.做android过程中对java的理解更深入，对设计模式也有更深一层的理解。</td></tr>
          <tr><td>责任描述</td><td>独立完成了此客户端设计和核心功能的开发。做android最主要的原因是通过android来更加深入的理解java，培养独立分析问题，解决问题的能力。</td></tr>
        </table>
      </div>
    </div>

    <div class="well" style="background-color: lightgray">
      <!--<div class="info-header"> <span class="glyphicon glyphicon-tag"></span>   技能描述</div>-->
      <div class="info-body"> <span class="glyphicon glyphicon-edit"></span>   技能描述 </div>
      <div class="info-content">
        <ul class="skill_desc text-center">
          <li class="bg-info">熟练掌握CoreJava编程，具有良好的编码、注释、写文档的习惯和扎实的代码编写基础 </li>
          <li class="bg-primary">熟练掌握MySQL、Oracle等数据库，掌握PL/SQL编程  </li>
          <li class="bg-info">熟练掌握Struts2 / Hibernate / Spring等开源框架  </li>
          <li class="bg-primary">熟练掌握js,css3,html5等相应技术，对js面向对象开发有较深的理解  </li>
          <li class="bg-info">对设计模式有较好的理解  </li>
          <li class="bg-primary">熟悉使用Tomcat应用服务器  </li>
          <li class="bg-info">熟练掌握MVC模式进行Web编程 </li>
          <li class="bg-primary">熟练掌握J2EE开发技术（JSP、Servlet、JDBC、JSP标记等） </li>
          <li class="bg-info">掌握XML、UML  </li>
          <li class="bg-primary">熟悉Linux系统  </li>
          <li class="bg-info">掌握集群开发，REST架构,熟悉nosql存储技术，websocket推送 </li>
          <li class="bg-primary">具有独立思考和解决问题的能力，能够应对各种需求变化。</li>
          <li class="bg-info">具有良好的团队协作和领导能力，能够带领小组完成项目的开发。</li>
        </ul>
      </div>

    </div>
  </div>
</div>
