<blockquote style="margin-left:10px;margin-top: 70px" xmlns="http://www.w3.org/1999/html">
  <p>Benjamin的个人简历</p>
</blockquote>

<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-4">
    <div class="well info">
      <img class="img-rounded" height="300" width="100%" src="img/b1.jpg"/>
      <h2 class="text-center" style="margin-top:10px;">商敏</h2>
      <div class="info-item"><span class="glyphicon glyphicon-home"></span> 籍贯:  山东.莱芜</div>
      <div class="info-item"><span class="glyphicon glyphicon-map-marker"></span> 地址:  北京.海淀</div>
      <div class="info-item"><span class="glyphicon glyphicon-earphone"></span> 电话:  15652605660</div>
      <div class="info-item"><span class="glyphicon glyphicon-envelope"></span> 邮箱:  <a href="mailto:benjamin1990@163.com">benjamin1990@163.com</a></div>
      <div class="skills panel panel-primary " style="margin-top: 10px;">
        <div class="panel-heading skills_heading"><span class="glyphicon glyphicon-wrench"></span>     技能</div>
        <div class="panel-body skills_body">
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-success">js</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-primary">java</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-info">css</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-warning">html</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-danger">安卓</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-danger progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skills panel panel-primary " style="margin-top: 10px;">
        <div class="panel-heading skills_heading"><span class="glyphicon glyphicon-pencil"></span>     给我留言</div>
        <div class="panel-body skills_body">
        <label class="">姓名 : </label>
        <input type="text" class="form-control" placeholder="用户名" required/>
          <label class="">邮箱 : </label>
          <input type="email" class="form-control" placeholder="邮箱" required/>
          <label>留言 : </label>
         <textarea class="form-control" style="margin-top:5px;"></textarea>
        <div class="text-center" style="margin-top: 5px;"><button class="btn btn-primary btn-block" >留言</button></div>
      </div>
      </div>
    </div>

  </div>
  <div class="col-md-8 col-lg-8 col-sm-8">
    <div class="well self">
      <p>1、性格沉稳、为人诚恳、不怕吃苦，有良好的韧性和耐力，假期曾到工地和商城实习工作。</p>
      <p>2、团队协作能力强，擅长沟通，积极参加篮球、拔河、乒乓球等比赛。</p>
      <p>3、擅长换位思考，从对方的角度思考问题，遇事首先想到的是自己的不足。</p>
      <p>4、适应能力强，做事认真，能够与同事积极的进行交流、分析，合作完成一些模块的设计与开发。</p>
      <p>5、自学能力强，有强烈的求知欲，喜欢挑战自我，能够不断的学习和掌握新的技术。</p>
    </div>
    <div class="well" style="background-color: #c0a16b">
      <div> <span class="glyphicon glyphicon-barcode"></span>   工作经验</div>
      <div> <span class="glyphicon glyphicon-barcode"></span>   工作经验</div>
      <p>2、团队协作能力强，擅长沟通，积极参加篮球、拔河、乒乓球等比赛。</p>
      <p>3、擅长换位思考，从对方的角度思考问题，遇事首先想到的是自己的不足。</p>
      <p>4、适应能力强，做事认真，能够与同事积极的进行交流、分析，合作完成一些模块的设计与开发。</p>
      <p>5、自学能力强，有强烈的求知欲，喜欢挑战自我，能够不断的学习和掌握新的技术。</p>
    </div>
  </div>
</div>
