<blockquote style="margin-left:10px;margin-top: 70px" xmlns="http://www.w3.org/1999/html">
  <p>Benjamin的个人简历</p>
</blockquote>

<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-4">
    <div class="well info">
      <img class="img-rounded" height="300" width="100%" src="img/b1.jpg"/>
      <h2 class="text-center" style="margin-top:10px;">商敏</h2>
      <div class="info-item"><span class="glyphicon glyphicon-bookmark"></span> <span>学历:</span><span class="personal-info-item">本科</span> </div>
      <div class="info-item"><span class="glyphicon glyphicon-leaf"></span> <span>专业:</span>  <span class="personal-info-item">计算机科学与技术</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-book"></span> <span>学校:</span>  <span class="personal-info-item">山东理工大学</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-home"></span> <span>籍贯:</span>  <span class="personal-info-item">山东.莱芜</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-map-marker"></span> <span>地址:</span>  <span class="personal-info-item">北京.海淀</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-earphone"></span> <span>电话:</span>  <span class="personal-info-item">15652605660</span></div>
      <div class="info-item"><span class="glyphicon glyphicon-envelope"></span> <span>邮箱:</span>  <span class="personal-info-item"><a href="mailto:benjamin1990@163.com">benjamin1990@163.com</a></span></div>
      <div class="skills panel panel-primary " style="margin-top: 10px;">
        <div class="panel-heading skills_heading"><span class="glyphicon glyphicon-wrench"></span>     技能</div>
        <div class="panel-body skills_body">
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-success">js</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-primary">java</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-info">css</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-warning">html</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-primary">linux</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-primary progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <span class="label label-danger">安卓</span>
            </div>
            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
              <div class="progress">
                <div class="progress-bar progress-bar-danger progress-bar-striped"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="skills panel panel-primary " style="margin-top: 10px;">
        <div class="panel-heading skills_heading"><span class="glyphicon glyphicon-list-alt"></span>     证书</div>
        <div class="panel-body skills_body">
          <div class="info-item"><span class="glyphicon glyphicon-bookmark"></span> <span>2011/12</span> <span class="personal-info-item">C+E国际软件工程师</span></div>
          <div class="info-item"><span class="glyphicon glyphicon-bookmark"></span> <span>2011/11</span> <span class="personal-info-item">高级软件工程师</span></div>
        </div>
      </div>

      <div class="skills panel panel-primary " style="margin-top: 10px;">
        <div class="panel-heading skills_heading"><span class="glyphicon glyphicon-pencil"></span>     给我留言</div>
        <div class="panel-body skills_body">
        <label class="">姓名 : </label>
        <input type="text" class="form-control" placeholder="用户名" required/>
          <label class="">邮箱 : </label>
          <input type="email" class="form-control" placeholder="邮箱" required/>
          <label>留言 : </label>
         <textarea class="form-control" style="margin-top:5px;height: 150px"></textarea>
        <div class="text-center" style="margin-top: 20px;"><button class="btn btn-primary btn-block" >留言</button>
        </div>
      </div>
      </div>
    </div>

  </div>
  <div class="col-md-8 col-lg-8 col-sm-8">
    <div class="well self">
      <p>1、性格沉稳、为人诚恳、不怕吃苦，有良好的韧性和耐力，假期曾到工地和商城实习工作。</p>
      <p>2、团队协作能力强，擅长沟通，积极参加篮球、拔河、乒乓球等比赛。</p>
      <p>3、擅长换位思考，从对方的角度思考问题，遇事首先想到的是自己的不足。</p>
      <p>4、适应能力强，做事认真，能够与同事积极的进行交流、分析，合作完成一些模块的设计与开发。</p>
      <p>5、自学能力强，有强烈的求知欲，喜欢挑战自我，能够不断的学习和掌握新的技术。</p>
    </div>
    <div class="well" style="background-color: #b9def0">
      <div class="info-header"> <span class="glyphicon glyphicon-tag"></span>   工作经验</div>
      <div class="info-body"> <span class="glyphicon glyphicon-edit"></span>   2011/2 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  主要负责项目前端的设计与开发,能够快速的学习一些前端框架，如easyui等，并投入使用。编写一些公用的js组件，并编写少量html静态页面与css，对前端的js代码进行重构封装，帮助同事解决所遇到的复杂问题或bug,是前端项目开发的主要负责人</p>
      </div>
      <div class="info-body" style="margin-top: 20px;"> <span class="glyphicon glyphicon-edit"></span>   2011/2 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  新增功能后台代码的编写,负责账单模块的前后台编写,也参与了websocket推送,信息流，
          短信等模块的编写。安装付费应用时，会产生交易行为。
          扣费时，如果用户余额足以支付此应用的安装费用，会先扣除余额，如果不足以支付，则会扣除绑定银行卡中的金额。
          安装成功后，插入账单，插入交易记录。做过一些对交易记录查询，比如按余额变动最大排序，此月交易金额最大排序之类的查询，按照交易时间排序等，
          方便监控各个用户的余额和账单信息。还做了余额取现功能。余额大于$100的可以取现，通过申请-审核-支付(驳回) 流程实现此功能。
          前台展示方面，采用用面向对象js创建页面并填充内容，并将模块组建化，方便代码的复用。对js非常感兴趣，掌握面向对象js编程技能。</p>
      </div>
    </div>

    <div class="well" style="background-color: yellowgreen">
      <div class="info-header"> <span class="glyphicon glyphicon-tag"></span>   项目经验</div>
      <div class="info-body"> <span class="glyphicon glyphicon-edit"></span>   2011/2 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  主要负责项目前端的设计与开发,能够快速的学习一些前端框架，如easyui等，并投入使用。编写一些公用的js组件，并编写少量html静态页面与css，对前端的js代码进行重构封装，帮助同事解决所遇到的复杂问题或bug,是前端项目开发的主要负责人</p>
      </div>
      <div class="info-body" style="margin-top: 20px;"> <span class="glyphicon glyphicon-edit"></span>   2011/2 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  新增功能后台代码的编写,负责账单模块的前后台编写,也参与了websocket推送,信息流，
          短信等模块的编写。安装付费应用时，会产生交易行为。
          扣费时，如果用户余额足以支付此应用的安装费用，会先扣除余额，如果不足以支付，则会扣除绑定银行卡中的金额。
          安装成功后，插入账单，插入交易记录。做过一些对交易记录查询，比如按余额变动最大排序，此月交易金额最大排序之类的查询，按照交易时间排序等，
          方便监控各个用户的余额和账单信息。还做了余额取现功能。余额大于$100的可以取现，通过申请-审核-支付(驳回) 流程实现此功能。
          前台展示方面，采用用面向对象js创建页面并填充内容，并将模块组建化，方便代码的复用。对js非常感兴趣，掌握面向对象js编程技能。</p>
      </div>
    </div>

    <div class="well" style="background-color: yellowgreen">
      <div class="info-header"> <span class="glyphicon glyphicon-tag"></span>   项目经验</div>
      <div class="info-body"> <span class="glyphicon glyphicon-edit"></span>   2011/2 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  主要负责项目前端的设计与开发,能够快速的学习一些前端框架，如easyui等，并投入使用。编写一些公用的js组件，并编写少量html静态页面与css，对前端的js代码进行重构封装，帮助同事解决所遇到的复杂问题或bug,是前端项目开发的主要负责人</p>
      </div>
      <div class="info-body" style="margin-top: 20px;"> <span class="glyphicon glyphicon-edit"></span>   2011/2 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  新增功能后台代码的编写,负责账单模块的前后台编写,也参与了websocket推送,信息流，
          短信等模块的编写。安装付费应用时，会产生交易行为。
          扣费时，如果用户余额足以支付此应用的安装费用，会先扣除余额，如果不足以支付，则会扣除绑定银行卡中的金额。
          安装成功后，插入账单，插入交易记录。做过一些对交易记录查询，比如按余额变动最大排序，此月交易金额最大排序之类的查询，按照交易时间排序等，
          方便监控各个用户的余额和账单信息。还做了余额取现功能。余额大于$100的可以取现，通过申请-审核-支付(驳回) 流程实现此功能。
          前台展示方面，采用用面向对象js创建页面并填充内容，并将模块组建化，方便代码的复用。对js非常感兴趣，掌握面向对象js编程技能。</p>
      </div>
    </div>

    <div class="well" style="background-color: yellowgreen">
      <div class="info-header"> <span class="glyphicon glyphicon-tag"></span>   项目经验</div>
      <div class="info-body"> <span class="glyphicon glyphicon-edit"></span>   2011/2 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  主要负责项目前端的设计与开发,能够快速的学习一些前端框架，如easyui等，并投入使用。编写一些公用的js组件，并编写少量html静态页面与css，对前端的js代码进行重构封装，帮助同事解决所遇到的复杂问题或bug,是前端项目开发的主要负责人</p>
      </div>
      <div class="info-body" style="margin-top: 20px;"> <span class="glyphicon glyphicon-edit"></span>   2011/2 -- 至今 : 北京科睿星教育科技有限公司 </div>
      <div class="info-content">
        <p>  新增功能后台代码的编写,负责账单模块的前后台编写,也参与了websocket推送,信息流，
          短信等模块的编写。安装付费应用时，会产生交易行为。
          扣费时，如果用户余额足以支付此应用的安装费用，会先扣除余额，如果不足以支付，则会扣除绑定银行卡中的金额。
          安装成功后，插入账单，插入交易记录。做过一些对交易记录查询，比如按余额变动最大排序，此月交易金额最大排序之类的查询，按照交易时间排序等，
          方便监控各个用户的余额和账单信息。还做了余额取现功能。余额大于$100的可以取现，通过申请-审核-支付(驳回) 流程实现此功能。
          前台展示方面，采用用面向对象js创建页面并填充内容，并将模块组建化，方便代码的复用。对js非常感兴趣，掌握面向对象js编程技能。</p>
      </div>
    </div>

    </div>
  </div>
</div>
