<div class="container" style="padding-top: 20px;">
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-left">
    <h2>留言板</h2>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-right">
    <a class="btn-default btn" href="#/" ui-sref="comment.writeComment">我要留言</a>
  </div>
</div>
<div ui-view class="flip">
  <div class="well">
    <div class="row">
      <div class="col-md-1">
        <img src="img/avatar.jpg" width="50" height="50" class="img-rounded">
      </div>
      <div class="col-lg-11">
        <p>I'm just 过来看看 just a test yes</p>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-1">
        <img src="img/avatar.jpg" width="50" height="50" class="img-rounded">
      </div>
      <div class="col-lg-11">
        <p>I'm just 过来看看 just a test yes</p>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-1">
        <img src="img/avatar.jpg" width="50" height="50" class="img-rounded">
        <p>我是中国范德萨发达算法打算范德萨</p>
      </div>
      <div class="col-lg-11">

        <p>I'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yesI'm just 过来看看 just a test yes</p>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-1">
        <img src="img/avatar.jpg" width="50" height="50" class="img-rounded">
      </div>
      <div class="col-lg-11">
        <p>I'm just 过来看看 just a test yes</p>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-1">
        <img src="img/avatar.jpg" width="50" height="50" class="img-rounded">
      </div>
      <div class="col-lg-11">
        <p>I'm just 过来看看 just a test yes</p>
      </div>
    </div>
  </div>
</div>
</div>