<h3>文章标题</h3>
<hr>
<div class="row">
  <div class="col-md-2 col-xs-4">
    <select class="form-control">
      <option value="1" selected="selected">请选择</option>
      <option value="1">原创</option>
      <option value="2">转载</option>
      <option value="3">翻译</option>
    </select>
  </div>
  <div class="col-md-10 col-xs-8">
    <input type="text" class="form-control"/>
  </div>

</div>
<textarea class="form-control" style="margin-top: 10px;height: 450px"></textarea>
<div id="bottombar" class="text-center" style="margin-top: 10px"><a class="btn btn-default">保存</a><a class="btn btn-danger">放弃</a><a class="btn btn-primary">发布</a></div></div>
