html
{
color:#000;
background:#FFF;
}
*
{ margin:0;padding:0;}
body{
background:#ffffff no-repeat;
-moz-background-size:100% 100%; /* 老版本的 Firefox */
-webkit-background-size:100% 100%;
background-size:100% 100%;
}

img + p{
  margin-top: 10px;
}

div > h2{
  margin-top:0px
}

div[ui-view]:first-child{
  margin-top:50px;
}

div#bottombar > a{
  margin-left: 10px;
}

.animation_container{
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.center{
  margin: auto;
  margin-top: 100px;
}
.animation_container{
  -webkit-perspective:800px;
  -moz-perspective:800px;
  -o-perspective:800px;
  perspective:800px;
  border: 1px solid red;
  width: 375px;
  height: 450px;
}
.front{
  /*当元素背向屏幕时是否可见。顺X(Y)轴旋转180°则此时元素背向屏幕。*/
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;

  -webkit-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  -o-transform:rotateX(0deg);
  transform:rotateX(0deg);

  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  transform-style:preserve-3d;
  /*渐变*/
  transition:all .6s ease-in-out;

  position: absolute;
  left: 0;
  top: 0;
}
.back{
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -o-transform:rotateX(180deg);
  transform:rotateX(180deg);
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden;
  transition:all .6s ease-in-out;
  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
}
.fliper{
  -webkit-transition:all .6s ease-in-out;
  transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -webkit-transform:rotateX(0deg);
  -moz-transform:rotateX(0deg);
  transform:rotateX(0deg);
  -webkit-perspective:800px;
  -moz-perspective:800px;
  -o-perspective:800px;
}
.fliper:hover,.fliper:hover .front{
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  transform:rotateX(180deg);
}
.fliper:hover .back{
  -webkit-transform:rotateY(0deg);
  -moz-transform:rotateY(0deg);
  transform:rotateY(0deg);
}
/* Benjamin
music-player style-----------------*/
.music-img{
  width:120px;
  height:120px;
  background: url('../../img/musicbg.png') no-repeat;
  background-position: -280px 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: 50%;
/*  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -transform:rotate(0deg);
  */
  -webkit-transition:-webkit-transform 200s linear;
  -moz-transition:-moz-transform 200s linear;
  transition:-webkit-transform 200s linear,-moz-transform 200s linear;
}
/*
.music-img:hover{
  -webkit-transform:rotate(18000deg);
  -transform:rotate(18000deg);
}*/

.ctrl{
  height: 35px;
  width: 35px;
  background-clip: padding-box;
  background: url("../../img/musicbg.png") no-repeat;
  border-radius: 50%;
}
.ctrl-sm{
  width: 18px;
  height: 15px;
  margin-left: 20px;
  margin-top: 10px;
}
.play-ab{
  position: absolute;
  top: 40px;
  left: 60px;
  background-position: -23px 0px;
}
.play-ab:hover{
  position: absolute;
  top: 40px;
  left: 60px;
  background-position: -23px -40px;
}
.play{
  background-position: -3px -111px;
}
.play:hover{
  background-position: -3px -146px;
}
.pause{
  background-position: -146px -111px;
}
.pause:hover{
  background-position: -146px -146px;
}
.next{
  background-position: -111px -111px;
}
.next:hover{
  background-position: -111px -146px;
}
.duration{
  float:left;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:70%;
  cursor: pointer;
}
.volume{
  background-position: 0px -182px;
}
ul,ol{
  list-style:none;
}
li {
  display: block;
  float: left;
}
.player-panel{
  border: 1px solid #b2dba1;
  width:400px;
  background-color: #e9eaea;
}
.volume-bar{
  height: 5px;
  width: 65px;
  margin-top: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.info-item{
  margin-top: 5px;
}
.info h2{
  margin-top: 5px;
}
.skills{
  border-width: 0px;
  background-color: transparent;
}
.skills_heading{
  background-clip: content-box;
  border-width: 0px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-top: 50px;
    height: 300px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}
.carousel-indicators{
  margin-left: 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

